$font_gray: #333333;
$weak_gray: #ebe8ef;
$white: #ffffff;
$very_weak_gray: #eeeeee;
$bright_blue: #6ccee7;
$weak_bright_blue: #6ccee720;
$blue: #296aa2;
$weak_blue: #296aa210;
$navy: #252f66;
$font_basic: #2c3e50;
